<% if group.includesUser?(current_user) %>
  <td><%= link_to 'Leave this group', group_group_users_path(group), class: "btn btn-sm btn-success", method: :delete %></td>
<% else %>
  <td><%= link_to 'Join this group', group_group_users_path(group), class: "btn btn-sm btn-danger" , method: :post %></td>
<% end %>
